@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins&family=Roboto&family=Source+Sans+Pro&display=swap');
@media screen and (max-width: 450px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        overflow-x: auto;
    }
    .img{
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    header a{
        display: none;
    }
    section{
        margin: 24px auto;
    }

    section h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 60px;
        color: #21243D;
    }
    .dash img{
       width: 339px;
       height: 230px;
    }
    .dash {
        width: 340px;
        display: flex;
        flex-direction: column;
    }
    .ilu img{
        width: 339px;
        height: 230px;
     }
     .ilu {
         width: 340px;
         display: flex;
         flex-direction: column;
     }
     .typo img{
        width: 339px;
        height: 230px;
     }
     .typo {
         width: 340px;
         display: flex;
         flex-direction: column;
     }
     .com img{
        width: 339px;
        height: 230px;
     }
     .com {
         width: 340px;
         display: flex;
         flex-direction: column;
     }
}